.hero-section {
	background-image:
	 /*linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),*/ url("../assets/img/hero-img.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	width: 100%;
	margin-bottom: 5rem;

	&__button {
		margin-top: 2rem;
		background: $color-primary;
		color: #fff;
		border: none;
		position: relative;
		height: 60px;
		font-size: 1.3rem;
		font-weight: 600;
		padding: 0 2em;
		cursor: pointer;
		transition: 800ms ease all;
		outline: none;

		&:hover {
			background: #fff;
			color: $color-primary;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 3px;
			width: 0;
			background: $color-primary;
			transition: 400ms ease all;
		}

		&:after {
			right: inherit;
			top: inherit;
			left: 0;
			bottom: 0;
		}
		&:hover:before,
		&:hover:after {
			width: 100%;
			transition: 800ms ease all;
		}
	}

	&__text-box {
		position: absolute;
		top: 20vh;
		left: 5vw;
		color: white;
		background-color: transparent;
		backface-visibility: hidden;

		width: 25%;
		// height: 20vh;
		// background-color: #ccc;
		border-radius: 2px;
		text-align: left;

		box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
	}
	&__heading {
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 1.5rem;
	}

	&__paragraph {
		font-size: 1.2rem;
		font-weight: 300;
	}
	// &__button {
	// 	border: none;
	// 	color: white;
	// 	font-size: 1.3rem;
	// 	font-weight: 600;
	// 	padding: 1rem 2rem;
	// 	border-radius: 1px;
	// 	margin-top: 3rem;

	// 	background-color: black;

	// 	border: none;
	// }
}
